// Colors
:root {
    --bgc: #F9F9F9;
    --black: #191919;
    --white: #FFFFFF;
    --background-internal: #EDEDED; 
    --black_5: #1919190D;
    --black_30: #bababa;
    --accent: #05B093;
    --accent25: #05b093bf;
    --grey: grey;
    --grey-back: #f3f3f3;
    // contrast
    --grey-text-contrast: #6E6E6E;
    --accent-contrast: #058571;
    --accent-hover: #05B093;
}


